.add-courses {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-courses h2 {
  margin-bottom: 20px;
}

.add-courses form {
  display: flex;
  flex-direction: column;
}

.add-courses label {
  margin-bottom: 10px;
  font-weight: bold;
}
